{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block css %}
<style>
  body {
    background-color: #f8f9fa;
  }

  .profile-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
    color: #007bff;
  }

  .profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .user-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .score {
    color: #28a745;
    font-weight: bold;
  }

  .time {
    color: #007bff;
    font-weight: bold;
  }

  .quiz-summary {
    margin-top: 30px;
  }

  .quiz-item {
    margin-bottom: 20px;
  }

  .quiz-title {
    color: #007bff;
    font-weight: bold;
  }

  .quiz-details {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  .additional-details-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card {
    flex: 0.3;
    padding: 15px;
    background-color: #f8d7da;
    border: 1px solid #dc3545;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
  }

  .card h6 {
    color: #007bff;
    margin-bottom: 10px;
  }

  .card p {
    margin: 0;
    font-weight: bold;
    color: #28a745;
  }
</style>

{% endblock %} {% block content %}
<div class="container profile-container">
  <h2 class="text-center">User Profile</h2>

  <div class="profile-details" style="display: none">
    <img
      src="{{ url_for('static', filename='profile_pic/' + profile_pic) }}"
      alt="Profile Image"
      class="user-image"
    />
    <p id="username" style="font-weight: bolder"></p>
    <p id="email"></p>
    <div class="additional-details-container">
      <div class="card">
        <h6>Quizzes Taken</h6>
        <p id="num-quiz"></p>
      </div>

      <div class="card">
        <h6>Average Accuracy</h6>
        <p id="average-accuracy"></p>
      </div>

      <div class="card">
        <h6>Average Time</h6>
        <p id="average-time"></p>
      </div>
    </div>
    <a href="/quiz" class="btn btn-primary">Take Quiz</a>
  </div>
</div>
{% endblock %} {% block javascript %}
<script src="{{ url_for('static',filename="js/profile.js") }}"></script>

{% endblock %}
